<!-- ====================
    #AUTH COMPONENT
======================== -->

<div class="auth d-flex justify-content-lg-start flex-column flex-lg-row-reverse">

    <!-- ====#FORM (Login and sign up form can go here)=== -->
    <div class="auth__form">
        <router-outlet></router-outlet>
    </div>

    <!-- ====#CONTENT=== -->
    <div class="auth__content">
        <div class="auth__content-holder">
            <div class="auth__content-title-wrapper">
                <h2 class="auth__content-title">
                    <strong>Digital</strong> Platform<br> for distance <strong>learning</strong>
                </h2>
            </div>
       
            <p  class="auth__content-text mt-4">Internet and online based digital technologies such as desktop computers, mobile phones and other</p>
        </div>
    </div>
</div>